body {
    background: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

.btn {
    padding: 12px 25px;
    margin: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: #2e8b57;
    color: white;
}

.btn.red {
    background: #b22222;
}

.btn.active {
    background: #32cd32;
    font-weight: bold;
}

.info-box {
    background: #222;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
}

#status {
    font-size: 22px;
    font-weight: bold;
}

.green { color: #00ff7f; }
.red { color: #ff5252; }
.yellow { color: #ffd700; }

.match-box {
    background: #222;
    padding: 12px;
    margin: 10px auto;
    border-left: 5px solid #2e8b57;
    width: 95%;
    border-radius: 10px;
    text-align: left;
}
